{% extends "laborwertverwaltung.html" %}

{% block content %}

    <h2>Admin - Menü</h2>

    <h3>Erstellung</h3>
    <a href="/laborwertverwaltung/erstellenLaborwertAdmin">Einen Laborwert erstellen</a><br>
    <a href="/laborwertverwaltung/erstellenLaborwerttyp">Einen Laborwerttyp erstellen</a><br>
    <a href="/laborwertverwaltung/erstellenEinheit">Eine Einheit erstellen</a><br>
    <a href="/laborwertverwaltung/erstellenWertigkeit">Eine Wertigkeit erstellen</a><br>
    <a href="/laborwertverwaltung/erstellenMaleMinMax">Einen Male-MinMax-Wert erstellen</a><br>
    <a href="/laborwertverwaltung/erstellenFemaleMinMax">Einen Female-MinMax-Wert erstellen</a><br>

    <h3>Anzeige</h3>
    <a href="/laborwertverwaltung/anzeigeLaborwert_admin">Alle Laborwerte anzeigen</a><br>
    <a href="/laborwertverwaltung/anzeigeLaborwerttyp">Alle Laborwerttypen anzeigen</a><br>
    <a href="/laborwertverwaltung/anzeigeEinheit">Alle Einheiten anzeigen</a><br>
    <a href="/laborwertverwaltung/anzeigeWertigkeit">Alle Wertigkeiten anzeigen</a><br>
    <a href="/laborwertverwaltung/anzeigeMaleMinMax">Alle Male-MinMax-Werte anzeigen</a><br>
    <a href="/laborwertverwaltung/anzeigeFemaleMinMax">Alle FemaleMinMax-Werte anzeigen</a><br>

{% endblock %}