{% extends "laborwertverwaltung.html" %}
{% block content %}
<h2>Alle Laborwerte</h2>

    <table border="1" id="table">
		<tr>
			<th>LaborwertID</th>
			<th>Datum</th>
            <th>Laborwerttyp</th>
            <th>Wert</th>
            <th>Wertigkeit</th>
            <th>Kommentar</th>
		</tr>
    {% for laborwert in object_list %}
		<tr>
            {% if laborwert.freigegeben %}
            <td>{{ laborwert.lID }}</td>
			<td>{{ laborwert.datum }}</td>
            <td>{{ laborwert.laborwerttyp}}</td>
            <td>{{ laborwert.wert }}</td>
            <td>{{ laborwert.wertigkeit }}</td>
            <td>{{ laborwert.kommentar }}</td>
            {% endif %}
		</tr>
    {% endfor %}
    </table>
    <br>


    <a href="/laborwertverwaltung">zurück zur Übersicht</a>
{% endblock %}