{% extends "patientenverwaltung.html" %}
{% block content %}
<h2>Alle Patienten</h2>

    <table border="1" id="table">
		<tr>
			<th>PatientenID</th>
			<th>Vorname</th>
            <th>Nachname</th>
            <th>Geburtsdatum</th>
            <th></th>
            <th></th>
		</tr>
    {% for laborwert in object_list %}
		<tr>
            <td>{{ laborwert.pID }}</td>
			<td>{{ laborwert.vorname }}</td>
            <td>{{ laborwert.nachname}}</td>
            <td>{{ laborwert.gebDatum }}</td>
            <td><a href="/patientenverwaltung/editPatient/{{ laborwert.pk }}"><img src="../../static/patientenverwaltung/images/edit.png"></a></td>
            <td>
                {% if laborwert.freigegeben %}
                    <a href="/patientenverwaltung/togglePatient/{{ laborwert.pk }}">
                        <img src="../../static/patientenverwaltung/images/release.png" alt="release">
                    </a>
                {% else %}
                    <a href="/patientenverwaltung/togglePatient/{{ laborwert.pk }}">
                        <img src="../../static/patientenverwaltung/images/delete.png" alt="delete">
                    </a>
                {% endif %}
            </td>
		</tr>
    {% endfor %}
    </table>
    <br>


    <a href="/patientenverwaltung/admin">zurück zur Übersicht</a>
{% endblock %}