{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "script.js" %}"></script>
<form name="gruppeUser" action="{{ action_url }}" onsubmit="return selectAllOptions('inGroup', 'notInGroup');" method="post" accept-charset="utf-8">
    <table border="0" cellpadding="3" cellspacing="0">
        <tr>
            <td colspan="3">
                {% csrf_token %}
                Name: <input type="text" value="{{ gruppe_ID.name }}" name="name">
            </td>
        </tr>
        <tr>
            <td>
                <select name="notInGroup[]" id="notInGroup" size="9" MULTIPLE>
                    {% for userNotIn in userNotInGrp %}
                        <option value="{{ userNotIn }}"> {{ userNotIn }}</option>
                    {% endfor %}
                </select>
            </td>
            <td align="center" valign="middle">
                <input type="Button" value="Hinzufügen >>" onClick="SelectMoveRows(document.gruppeUser.notInGroup,document.gruppeUser.inGroup)"><br>
                <br>
                <input type="Button" value="<< Entfernen" onClick="SelectMoveRows(document.gruppeUser.inGroup,document.gruppeUser.notInGroup)">

            </td>
            <td>
                <select name="inGroup[]" id="inGroup" size="9" MULTIPLE>
                  {% for userIn in userInGrp %}
                    <option value="{{ userIn }}">{{ userIn }}</option><br>
                  {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <center><input type=submit value="Speichern"></center>
            </td>
        </tr>
    </table>
</form>
{% endblock %}