{% block content %}
        {% if gruppe %}
            <table border="1" id="table">
                    <tr>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                {% for gruppe in gruppe %}
                    <tr>
                        <td>{{ gruppe.name }}</td>
                        <td>
                            <a href="/benutzerverwaltung/editGruppe/{{ gruppe.grpID }}"><img src="../../static/studienverwaltung/images//edit.png"></a>
                        </td>
                        <td>
                            <a href="/benutzerverwaltung/deleteGruppe/{{ gruppe.grpID }}"><img src="../../static/studienverwaltung/images//trash.png"></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Keine Gruppen vorhanden</p>
        {% endif %}
{% include "backToMenu.html" %}
{% endblock %}