{% extends "simpel.html" %}
{% block title %}Operationsverwaltung{% endblock %}
{% block content %}
    <h2>Menü</h2>
    <h3>Erstellung</h3>
    <a href="/opverwaltung/erstellenOp">Eine Operation erstellen</a><br>
    <a href="/opverwaltung/erstellenTumor">Ein Tumorstadium erstellen</a><br>
    <a href="/opverwaltung/erstellenSeite">Eine Seite erstellen</a><br>
    <a href="/opverwaltung/erstellenOpArt">Eine Operations-Art erstellen</a>

    <h3>Anzeige</h3>
    <a href="/opverwaltung/anzeigeOp">Alle Operation anzeigen</a><br>
    <a href="/opverwaltung/anzeigeTumor">Alle Tumorstadium anzeigen</a><br>
    <a href="/opverwaltung/anzeigeSeite">Alle Seite anzeigen</a><br>
    <a href="/opverwaltung/anzeigeOpArt">Alle Operations-Art anzeigen</a>

{% endblock %}